/*Card_Style*/

body .bluebox{
	display:flex;
	justify-content: center;

}

.boxes{
	width: 400px;
	height: 450px;
	background-color: #f4f4f4;
	margin: 20px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.bluebox .fa{
	width:300px;
	height:400px;
	background-color: #01497c;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
    clip-path: polygon(0% 0%,50% 0%, 100% 25%, 100% 100%, 0% 100%);
	box-shadow:3px 3px 5px #000;
	margin:5%;
    opacity:1;
}

.bluebox h1{
	margin-bottom: -5px;
}

img{
	object-fit: cover;
}


.boxes{
	position: relative;
	overflow: hidden;
}


.background-btn{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	transform: scale(2);
	transition: all 0.6s;
	opacity: 0;
	
}


.background-btn a{
	text-decoration: none;
	color: #f4f4f4;
	background-color: #01497c;
	font-size: 20px;
	padding: 10px 20px;
	
}

.boxes:hover .background-btn{
	transform: scale(1);
	opacity: 1;
}


.fa img{
	width:350px;
	height:220px;
	margin:-10%;
	opacity:0.9;
}


















